<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %} <title>Базовая Страница</title> {% endblock%}
    {% load static%}
    <link rel="stylesheet" href="{% static 'kino/style.css' %}">
    <link rel="stylesheet" href="{% static 'kino/material.min.css' %}">
</head>
<body>

    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Каталог фильмов</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          {% if request.user.is_authenticated %}
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="{% url 'page' %}">Главная</a>
            <a class="mdl-navigation__link" href="{% url 'list' %}">Список фильмов</a>
            <a class="mdl-navigation__link" href="{% url 'add' %}">Добавить фильм</a>
            <a class="mdl-navigation__link" href="{% url 'home' %}">Home</a>
          </nav>
          {% endif %}
          <span class="user">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.username }},
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Log-in</a>
          {% endif %}
          </span>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="page-content">

            {% block content%}

            {% endblock%}
        </div>
      </main>
    </div>




</body>
</html>