{% extends "base.html"%}

{% block title %}
   <title>Добавить фильм</title>
{% endblock%}

<h2> Добавление фильма</h2>

{% block content%}
<form action="{% url 'add' %}" method="post">
    {% csrf_token%}
    <p>
    <div class="mdl-textfield mdl-js-textfield">
        <label class="mdl-textfield__label">Наименование...</label>
        <br>
        {{form.name}}
    </div>
    </p>
    <p>
    <div class="mdl-textfield mdl-js-textfield">
        <label class="mdl-textfield__label">Описание...</label>
        <br>
        {{form.description}}
    </div>
    </p>

    <p>{{form.rate}}</p>
    <p>{{form.genre}}</p>
    <p>{{form.date}}</p>


    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Добавить
    </button>
</form>

{% endblock%}