{% extends "base.html"%}

{% block title %}
   <title>{{film.name}}</title>
{% endblock%}

{% block content%}
    <h2>Информация о фильме</h2>
    <p>{{film.name}}</p>
    <p>{{film.genre}}</p>
    <p>{{film.rate}}</p>
    <p>{{film.date}}</p>
    <p>{{film.description}}</p>

{% endblock%}