{% extends "base.html"%}

{% block title %}
   <title>Список фильмов</title>
{% endblock%}



{% block content%}
    <h2>Список фильмов</h2>

    {% if pr_list%}
    <form action="{% url 'delet' %}" method="post">
        {% csrf_token %}
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
          <thead>
            <tr>
              <th>Наименование</th>
              <th>Рейтинг</th>
              <th>Жанры</th>
              <th>Дата выхода</th>
              <th>Удаление</th>
            </tr>
          </thead>
          <tbody>
          {% for p in pr_list%}
            <tr>
              <td><a href="{% url 'detail' p.id %}">{{p.name}}</a> </td>
              <td>{{p.rate}}</td>
              <td>{{p.genre}}</td>
              <td>{{p.date}}</td>
              <td><input type="checkbox" name="to_remove" id="{p.id}}" value="{{p.id}}"></td>
            </tr>
          {% endfor%}
          </tbody>
        </table>
        <input type="submit" value="Удалить" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="margin-top: 10px;">
    </form>

    {% else %}
        <h3>Фильмов в базе нет!</h3>
    {% endif %}
{% endblock%}
