{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Приветствуем {{ new_user.first_name }}!</h1>
    <p>Аккаунт успешно создан. Вы можете <a href="{% url 'login' %}">войти</a>.</p>
{% endblock %}